.row
  .col-sm-12
    %h1 New Campaign

= bootstrap_form_tag url: "/campaigns" do |f|
  .col-sm-12
    = f.text_field :campaign_title, label: "Campaign Title"
  .col-sm-6
    = f.text_field :side_one_title, label: "Side One"
  .col-sm-6
    = f.text_field :side_two_title, label: "Side Two"
  .col-sm-12
    = f.submit "Create Campaign"
