!!! 5
%html
  %head
    %title Voting App
    %link(href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans" rel="stylesheet")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags
  %body
    = render 'shared/header'
    .container
      = render 'shared/flash_messages'
      = yield
